/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.customSnack{display: grid !important; justify-content: center !important; min-width: auto !important;}

.tool-space {
 flex: 1 1 auto; 
}

.mat-typography {
  background-color: rgb(238, 242, 246);
}

.gallery-wrapper {
  text-align: center;
  margin-top: 50px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
