<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxFlex="85">
      <button mat-flat-button color="primary" routerLink="/">
        BreakDown
      </button>
      <ng-container *ngIf="accountService.currentUser$ | async">
        <button mat-button routerLink="/members">Members</button>
        <button mat-button routerLink="/lists">Lists</button>
        <button mat-button routerLink="/messages">Messages</button>
      </ng-container>
    </div>

      <ng-container *ngIf="accountService.currentUser$ | async as user">
        <img height="55px" width="55px" class="rounded mr-2" src="{{ user.photoUrl || './assets/img/user.png' }}">
        <button mat-fab [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        
        <mat-chip-list>
          <mat-chip color="primary" selected>
            Welcome {{ user.knownAs | titlecase }}
          </mat-chip>
        </mat-chip-list>
        
        <mat-menu #menu="matMenu">
          <button routerLink="/member/edit" mat-menu-item>
            <mat-icon>manage_accounts</mat-icon>
            <span>Edit Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </ng-container>

  </mat-toolbar-row>
</mat-toolbar>
