<form
  id="editForm"
  name="editForm"
  #editForm="ngForm"
  (ngSubmit)="updateMember()"
  ng-dirty
>
  <div fxLayout="row" fxLayoutAlign="space-evenly" *ngIf="member">
    <h1>Your profile</h1>

    <div *ngIf="editForm.dirty">
      <mat-chip-list>
        <mat-chip color="warn" selected
          >You have made changes to your profile, any unsaved changes will be
          lost!</mat-chip
        >
      </mat-chip-list>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="75px" *ngIf="member">
    <div class="container" fxFlex="20">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>{{ member.username | titlecase }}</mat-card-title>
        </mat-card-header>
        <img mat-card-xl-image src="{{ member.photoUrl || './assets/img/user.png'}}" />
        <mat-card-content>
          <div>
            <h2 style="font-weight: bold">Location:</h2>
            <p>{{ member.city }}, {{ member.country }}</p>
          </div>

          <div>
            <h2 style="font-weight: bold">Age:</h2>
            <p>{{ member.age }}</p>
          </div>

          <div>
            <h2 style="font-weight: bold">Last Active:</h2>
            <p>{{ member.lastActive | date: 'medium' }}</p>
          </div>

          <div>
            <button
              form="editForm"
              type="submit"
              mat-raised-button
              color="accent"
              [disabled]="!editForm.dirty"
            >
              Save changes
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container" fxFlex="40">
      <mat-tab-group>
        <mat-tab label="About">
          <div fxLayout="row">
            <mat-form-field appearance="outline" fxFill>
              <mat-label>Looking for</mat-label>
              <textarea
                [(ngModel)]="member.lookingFor"
                rows="5"
                matInput
                name="lookingFor"
              ></textarea>
            </mat-form-field>
          </div>

          <div fxLayout="row" >
            <mat-form-field appearance="outline" fxFill>
              <mat-label>Interests</mat-label>
              <textarea
                [(ngModel)]="member.interests"
                rows="5"
                matInput
                name="interests"
              ></textarea>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="40">
              <mat-label>City</mat-label>
              <input [(ngModel)]="member.city" matInput name="city" />
            </mat-form-field>

            <mat-form-field fxFlex="40">
              <mat-label>Country</mat-label>
              <input [(ngModel)]="member.country" matInput name="country" />
            </mat-form-field>
          </div>
        </mat-tab>

        <mat-tab label="Edit Photos">
          <app-photo-editor [member]="member"></app-photo-editor>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</form>
