<!-- <div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Find your dream job in the trimming industry</h1>
    <p class="lead">
      Log in to view opening near you... all you need to do is sign up!
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">
        Register
      </button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div> -->
<div fxLayout="row" fxLayoutAlign="start none" class="jumbotron">
  <div fxFlex="5"></div>
  <mat-card fxFlex="grow" class="card-bg">
    <mat-card-content>
      <div fxLayout="row" class="innerTwo">
        <!-- column start -->

        <div fxLayout="column" fxFlex="60">
          <h4>BASED ON OVER LOTS 1M BLUNTS SMOKED</h4>
          <h1>In-demand careers</h1>
          <div class="innerMargin">
            <p class="innerTitle">1. Marijuana trimming industry</p>
            <p class="innerText">
              Jobs in the trimming industry are the most sought after and
              coveted jobs in the united states. This new economic industry is
              surging with potential talent and eager minds. Trimmers are ranked
              #2 in job satisfaction among all job ever queried by the US
              Census.
            </p>
            <div class="buttonPadding">
              <ng-container
                *ngIf="(this.accountService.currentUser$ | async) === null"
              >
                <button mat-raised-button routerLink="/login-register">
                  Learn more
                </button>
              </ng-container>
            </div>
          </div>
        </div>
        <!-- column end -->

        <!-- column start -->
        <div fxFlex="35">
          <div class="absolute">
            <img class="test" src="assets/img/card.webp" />
          </div>
        </div>
        <!-- column end -->
      </div>
    </mat-card-content>
  </mat-card>
  <div fxFlex="5"></div>
</div>
