<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand" href="#">Ballade Skeleton</a>

    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a
            routerLink="/members"
            routerLinkActive="active"
            class="nav-link"
            href="#"
            >Things</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/lists"
            routerLinkActive="active"
            class="nav-link"
            href="#"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/messages"
            routerLinkActive="active"
            class="nav-link"
            href="#"
            >Messages</a
          >
        </li>
      </ng-container>
    </ul>

    <div *ngIf="(accountService.currentUser$ | async) as user" class="btn-group" dropdown>
      <button
        id="button-basic"
        dropdownToggle
        type="button"
        class="btn nav-item dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        <span class="caret">Welcome {{ user.username | titlecase}}</span>
      </button>

      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem">
          <a class="dropdown-item">Edit Profile</a>
        </li>
        <li role="menuitem">
          <a (click)="logout()" class="dropdown-item">Logout</a>
        </li>
      </ul>
    </div>

    <form
      *ngIf="(accountService.currentUser$ | async) === null"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
