<form #form="ngForm" (ngSubmit)="getLikes()">
  <div class="text-center mt-3">
    <h2>
      {{
        userParams.predicate === 'liked'
          ? 'Members you like'
          : 'Members who like you'
      }}
    </h2>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div
        class="btn-group btn-group-toggle"
        ngbRadioGroup
        name="userParams.predicate"
        [(ngModel)]="userParams.predicate"
      >
        <label ngbButtonLabel class="btn-primary">
          <input
            ngbButton
            type="radio"
            value="liked"
            (click)="getLikes()"
          />
          Members I Like
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input
            ngbButton
            type="radio"
            value="likedBy"
            (click)="getLikes()"
          />Members Who Like Me
        </label>
        <mat-paginator
          fxLayoutAlign="center"
          *ngIf="pagination"
          [length]="pagination.totalItems"
          [pageSize]="pagination.itemsPerPage"
          [pageIndex]="pagination.currentPage"
          (page)="pageChanged($event)"
        >
        </mat-paginator>
        <button mat-button type="submit">Apply Filters</button>
        <button (click)="resetFilters()" mat-button type="submit">
          Reset Filters
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-4 mt-3" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
      </div>
    </div>
  </div>
</form>
